.wallpost-input {
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    border-radius: 0.6rem;
}
.post-input {
    display: flex;
    flex-direction: column;
}
.wallpost-file-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    height: 3rem;
}

.input-file {
    line-height: 2rem;
    padding-left: 1rem;
    font-size: 1rem;
    width: 50%;
}
.input-field {
    background-color: black;
    color: white;
    margin: 0 auto;
    font-size: 1.2rem;
}
.input-wall-description {
    margin: 0 auto;
    width: 95%;
}
.post-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: rgb(46, 138, 86);
    border-radius: 0.6rem;
    margin-bottom: 1rem;
}
.post-container > img {
    width: 200px;
    object-fit: cover;
    margin-right: 1rem;
}
.wallpost-text {
    color: white;
}
.modal {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 138, 86, 0.6);
    z-index: 1;
}

.modal-box {
    width: 45%;
    max-width: 300px;
    position: fixed;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 80%;
    display: grid;
    justify-self: center;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 15px;
    z-index: 2;
    top: 15%;
    color: white;
}
